<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.demo.infra.mapper.ExampleMapper">
    <!--    buat select seperti generate-->
    <sql id = "BaseSql">
        file.bucket_name,
        file.directory,
        file.content_type,
        file.storage_unit,
        file.storage_size
    </sql>
    <select id = "selectList" resultType = "com.hand.demo.api.dto.HfleUploadDTO"
            parameterType="com.hand.demo.api.dto.HfleUploadDTO">
        select
        <include refid = "BaseSql"/>
        from hfle_upload_config file
    </select>
</mapper>
