<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.demo.infra.mapper.ExampleMapper">
<!--    buat select seperti generate-->
    <sql id = "BaseSql">
        file.bucket_name,
        file.directory,
        file.content_type,
        file.storage_unit,
        file.storage_ize,
    </sql>
    <select id = "selectList" resultType = "com.hand.demo.api.dto.PrefixDTO"
            parameterType="com.hand.demo.api.dto.PrefixDTO">
        select
        <include refid = "BaseSql"/>
        from hfle_upload_config file
<!--        <where>-->
<!--            <if test="header.applyHeaderId !=null">-->
<!--                and tiah.apply_header_id = #{header.applyHeaderId,jdbcType = INTEGER}-->
<!--            </if>-->
<!--            <if test="header.applyHeaderNumber !=null">-->
<!--                and tiah.apply_header_number = #{applyHeaderNumber,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.applyStatus !=null">-->
<!--                and tiah.apply_status = #{applyStatus,jdbcType = VARCHAR}-->
<!--                and header.apply_status LIKE CONCAT('%', #{header.applyStatus}, '%')-->
<!--            </if>-->
<!--            <if test="header.attribute1 !=null">-->
<!--                and tiah.ATTRIBUTE1 = #{attribute1,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute10 !=null">-->
<!--                and tiah.ATTRIBUTE10 = #{attribute10,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute11 !=null">-->
<!--                and tiah.ATTRIBUTE11 = #{attribute11,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute12 !=null">-->
<!--                and tiah.ATTRIBUTE12 = #{attribute12,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute13 !=null">-->
<!--                and tiah.ATTRIBUTE13 = #{attribute13,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute14 !=null">-->
<!--                and tiah.ATTRIBUTE14 = #{attribute14,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute15 !=null">-->
<!--                and tiah.ATTRIBUTE15 = #{attribute15,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute2 !=null">-->
<!--                and tiah.ATTRIBUTE2 = #{attribute2,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute3 !=null">-->
<!--                and tiah.ATTRIBUTE3 = #{attribute3,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute4 !=null">-->
<!--                and tiah.ATTRIBUTE4 = #{attribute4,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute5 !=null">-->
<!--                and tiah.ATTRIBUTE5 = #{attribute5,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute6 !=null">-->
<!--                and tiah.ATTRIBUTE6 = #{attribute6,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute7 !=null">-->
<!--                and tiah.ATTRIBUTE7 = #{attribute7,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute8 !=null">-->
<!--                and tiah.ATTRIBUTE8 = #{attribute8,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.attribute9 !=null">-->
<!--                and tiah.ATTRIBUTE9 = #{attribute9,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.billToAddress !=null">-->
<!--                and tiah.bill_to_address = #{billToAddress,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.billToEmail !=null">-->
<!--                and tiah.bill_to_email = #{billToEmail,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.billToPerson !=null">-->
<!--                and tiah.bill_to_person = #{billToPerson,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.billToPhone !=null">-->
<!--                and tiah.bill_to_phone = #{billToPhone,jdbcType = VARCHAR}-->
<!--            </if>-->
<!--            <if test="header.delFlag !=null">-->
<!--                and tiah.del_flag = #{delFlag,jdbcType = INTEGER}-->
<!--            </if>-->
<!--            <if test="header.excludeTaxAmount !=null">-->
<!--                and tiah.exclude_tax_amount = #{excludeTaxAmount,jdbcType = OTHER}-->
<!--            </if>-->
<!--            <if test="header.invoiceColor !=null">-->
<!--                and tiah.invoice_color = #{invoiceColor,jdbcType = VARCHAR}-->
<!--                and header.invoice_color LIKE CONCAT('%', #{header.invoiceColor}, '%')-->
<!--            </if>-->
<!--            <if test="header.invoiceType !=null">-->
<!--                and tiah.invoice_type = #{invoiceType,jdbcType = VARCHAR}-->
<!--                and header.invoice_type LIKE CONCAT('%', #{header.invoiceType}, '%')-->
<!--            </if>-->
<!--            <if test="header.remark !=null">-->
<!--                and tiah.remark = #{remark,jdbcType = OTHER}-->
<!--            </if>-->
<!--            <if test="header.submitTime !=null">-->
<!--                and tiah.submit_time = #{submitTime,jdbcType = TIMESTAMP}-->
<!--            </if>-->
<!--            <if test="header.taxAmount !=null">-->
<!--                and tiah.tax_amount = #{taxAmount,jdbcType = OTHER}-->
<!--            </if>-->
<!--            <if test="header.tenantId !=null">-->
<!--                and tiah.tenant_id = #{tenantId,jdbcType = INTEGER}-->
<!--            </if>-->
<!--            <if test="header.totalAmount !=null">-->
<!--                and tiah.total_amount = #{totalAmount,jdbcType = OTHER}-->
<!--            </if>-->
<!--            <choose>-->
<!--                <when test="header.delFlag != null and header.delFlag == 1">-->
<!--                    and tiah.del_flag = 1-->
<!--                </when>-->
<!--                <otherwise>-->
<!--                    and (tiah.del_flag = 0 or tiah.del_flag is null)-->
<!--                </otherwise>-->
<!--            </choose>-->
<!--        </where>-->
    </select>
</mapper>
